<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="//localhost:3000/imagenes/0.ico">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Anime Online HD ── AnimeFLV</title>

    <style>
        .color-negro{
            background-color: #000;
            color: darkgrey;
            border: 0;
        }

        .separacion-margenes{
            margin: 30px;
            padding: 15px;
        }

        .ancho-largo{
            height: 80px;
        }

        .separacion-inicio{
            margin-left: 60px;
            margin-right: 10px;
        }

        .ancho-imagen{
            border: 0;
            max-width: 100%;
            height: auto;
            display: inline-block;
            vertical-align: middle;
        }

        .opciones-imagenes{
            margin-top: 10px;
            margin-right: 20px;
            margin-left: 20px;
            max-width: 100%;
            height: auto;
            display: inline-block;
            vertical-align: middle;
        }

        .opcion-konosuba{
            backface-visibility: hidden;
            margin-top: 10px;
            margin-left: 20px;
            max-width: 100%;
            height: auto;
            display: inline-block;
            vertical-align: middle;
        }

        .opciones-menu{
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px 15px;
        }

        .opcion-buscar{
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 0;
            padding: 10px;
            padding-right: 0;
        }

        .color-buscar{
            color: white;
        }

        .form-inline .form-control {
            display: inline-block;
            width: 200px;
            vertical-align: middle;
        }

        .opcion-login{
            margin-top: 18px;
            margin-left: 0px;
            margin-right: 0px;
        }

        .letragris{
            display: block;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 80px;
            padding: 0 15px;
            opacity: .5;
        }

        .letra-login{
            border-radius: 5px;
            background-color: rgba(0,0,0,.2);
            width: 100%;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
            font-size: 12px;
        }

        .circle{
            border-radius: 50%;
            margin: 0.15em;
            font-size: 3em;
        }

        .fa-facebook{
            background: #3B5998;
            color: #FFFFFF;
            margin-top: 0;
            margin-left: 20px;
        }

        .slogan{
            margin-top: 20px;
            box-sizing: border-box;
            margin-right: 40px;
            margin-left: 107px;
            padding: 0;
            width: 85%;
            height: 40%;
            text-align: center;
            color: #cfd8dc;
            letter-spacing: -1px;
            background-color: black;
            border-radius: 5px;
            border-bottom: 3px solid #01bcf3;
            margin-bottom: 20px;
            box-shadow: inset 0 0 25px rgba(0,0,0,.5);
        }

        .anuncio{
            box-sizing: border-box;
            text-align: left;
            color: black;
            letter-spacing: -1px;
            background-color: white;
            padding-left: 10px;
            border-radius: 5px;
            border-bottom: 3px solid;
            margin-bottom: 20px;
            box-shadow: inset 0 0 25px white;
        }

        .tabla{
            box-sizing: border-box;
            text-align: left;
            color: black;
            background-color: white;
            padding-left: 10px;
            border-radius: 5px;
            border-bottom: 3px solid;
            margin-bottom: 20px;
            box-shadow: inset 0 0 25px white;
        }

        .color-fondo{
            background-color: rgba(226, 221, 211, 0.63);
        }

        .contenedor{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .imagenes-episodio{
            width:180px;
            height:130px;
        }

        .imagenes-estreno{
            width: 190px;
            height: 280px;
        }

        .separacion-lista-capitulos{
            margin-left: 95px;
        }

        .separacion-capitulos{
            margin-left:0;
        }

        .ultimos-episodios{
            box-sizing: border-box;
            text-align: left;
            color: black;
            letter-spacing: -1px;
            background-color: rgba(226, 221, 211, 0.63);
            padding-left: 5px;
            border-radius: 5px;
            margin-left: 10px;
            box-shadow: inset 0 0 25px white;
        }

        .container {
            position: relative;
        }

        /* Bottom right text */
        .texto-uno {
            position: absolute;
            bottom: 0px;
            right: 303px;
            left: 15px;
            background-color: black;
            color: white;
            padding-right: 20px;
        }

        .texto-capitulo {
            position: absolute;
            bottom: 0px;
            right: -43px;
            left: 15px;
            background-color: black;
            color: white;
            padding-right: 20px;
        }

        .texto-estreno {
            position: absolute;
            bottom: 0px;
            right: 313px;
            left: 16px;
            background-color: black;
            color: white;
            padding-right: 20px;
        }







    </style>

</head>

<body>
<div class = "contenedor">
    <div class = "barra-navegacion">

        <nav class="ancho-largo navbar navbar-expand-lg bg-dark">
            <a class="separacion-margenes navbar-brand" href="#"></a>
            <img src="http://localhost:3000/imagenes/1.jpg" class="ancho-imagen">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="separacion-inicio letragris nav-link" href="#">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link letragris opciones-menu" href="#">DIRECTORIO ANIME</a>
                    </li>
                    <li class="nav-item opciones-imagenes ancho-imagen">
                        <a class="nav-link" href="#"></a>
                        <img src="http://localhost:3000/imagenes/2.jpg">
                    </li>
                    <li class="nav-item opcion-konosuba ancho-imagen">
                        <a class="nav-link" href="#"></a>
                        <img src="http://localhost:3000/imagenes/3.jpg">
                    </li>
                    <li class="opcion-buscar">
                        <form class="form-inline">
                            <input class="color-negro form-control py-2 rounded-pill mr-1 pr-5" type="search" value="Buscar..." id="example-search-input">
                            <span class="input-group-append">
                            <button class="color-buscar btn rounded-pill border-0 ml-n5" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                            </span>
                        </form>
                    </li>
                    <li class="nav-item opcion-login">
                        <a class="color-buscar letra-login nav-link opciones-menu" href="#">LOGIN</a>
                    </li>
                    <li class="nav-item opcion-login">
                        <i class="fab fa-facebook circle"></i>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
    <div class="color-fondo contenido-medio">
        <div class="slogan">
            <h3><strong>AnimeFLV</strong> tu fuente de anime online gratis en HD</h3>
        </div>
        <div class="row separacion-lista-capitulos">
            <div class="sidebar" style="width: 300px; padding-right: 20px">
                <div class="anuncio form-inline">
                    <h5 style="padding-right: 100px">Anuncios FLV</h5>
                    <a class="fas fa-gift"></a>
                </div>

                <div class="anuncio form-inline">
                    <h5 style="padding-right: 100px">EN EMISIÓN</h5>
                    <a class="fas fa-play"></a>
                </div>

                <table class="tabla">
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>One Piece</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Detective Conan</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Pokemon Sun & Moon</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Boruto: Naruto Next Generations</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Furusato Meguri Nippon no</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>YuGiOh! VRAINS</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Dragon Ball Super Lation</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Black Clover (TV)</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Gegege No Kitarou(2018)</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Jojo no Kimyou na Boukina</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Fairy Tail: Final Series</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Karakuri Circus</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Tate no Yuusha no Nariagari</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Dororo</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Diamond no Ace:Act II</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Cinderella Girls Gekijou Climax Season</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Kono Yo no Hate de Koigatorou</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Bakumatsu: Crisis</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Fruits Basket(2019)</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Senryuu Shojo</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Hitoribochi no Seikatsu</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Midara na Ao-chan wa benkyo</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Joshikausei</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Chou Kadou Girls amazing</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Nobunaga-sensei no Omiouji</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Kimetsu no Yaiba</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Bokutachi wa Benkyou ga dekinai</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Mix: Meisei Story</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Kono Oto Tomare!</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Mayonaka no Occult koumuin</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Fairy Gone</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Hachigatsu no Cinderella nine</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Nande Koko ni Sensei ga</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Shoumetsu Toshi</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Gunjou no Magmel</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Namu Amida Butsu! Rendai Utena</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Yatogame-chan Kansatsu nikki</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>RobiHachi</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Isakai Quartet</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>One Punch Man 2nd Season</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Strike Witches: 501 butta hashin</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Kenja no Mago</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Sewayaki Kitsune no Senkosan</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Sarazanmai</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Bongou Stray Dogs 3rd Season</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>King of Prism: Shiny seven Start</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Carole and Tuesday</td>
                        <td>Anime</td>
                    </tr>
                    <tr class="tb-row">
                        <td><i class="far fa-play-circle"></i></td>
                        <td>Shingeki no Kyojin Season 3 part 2</td>
                        <td>Anime</td>
                    </tr>
                </table>
            </div>

            <div class="separacion-capitulos">
                <div class="ultimos-episodios form-inline">
                    <h3 style="padding-right: 190px">Ultimos episodios</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/4.jpg" alt="Magmel">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 7</h8>
                                        <h8>Ganjou no Magmel</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/8.jpg" alt="Attack">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 4</h8>
                                        <h8>Shingeky no Kyojin</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/12.jpg" alt="Boruto">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 107</h8>
                                        <h8>Boruto Naruto Next</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/16.jpg" alt="Kono">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 7</h8>
                                        <h8>Kono Oto Tomare!</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/20.jpg" alt="Joshi">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 7</h8>
                                        <h8>Joshikausei</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                    </div>
                    <div class="col-sm-4">
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/5.jpg" alt="Magmel">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 7</h8>
                                        <h8>Ganjou no Magmel</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/9.jpg" alt="Attack">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 4</h8>
                                        <h8>Shingeky no Kyojin</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/13.jpg" alt="Boruto">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 107</h8>
                                        <h8>Boruto Naruto Next</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/17.jpg" alt="Kono">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 7</h8>
                                        <h8>Kono Oto Tomare!</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/21.jpg" alt="Joshi">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 7</h8>
                                        <h8>Joshikausei</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                    </div>
                    <div class="col-sm-4">
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/6.jpg" alt="Magmel">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 7</h8>
                                        <h8>Ganjou no Magmel</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/10.jpg" alt="Attack">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 4</h8>
                                        <h8>Shingeky no Kyojin</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/14.jpg" alt="Boruto">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 107</h8>
                                        <h8>Boruto Naruto Next</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/18.jpg" alt="Kono">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 7</h8>
                                        <h8>Kono Oto Tomare!</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <div class="container">
                                    <img class="imagenes-episodio" src="http://localhost:3000/imagenes/22.jpg" alt="Joshi">
                                    <div class="texto-capitulo">
                                        <h8>Episodio 7</h8>
                                        <h8>Joshikausei</h8>
                                    </div>
                                </div>
                            </dt>
                        </dl>
                    </div>
                </div>

                <div class="ultimos-episodios">
                    <h3 style="padding-right: 190px">Ultimos animes agregados</h3>
                </div>
                <dl>
                    <dt>
                        <div class="container">
                            <img class="imagenes-estreno" src="http://localhost:3000/imagenes/24.jpg" alt="Kabaneri">
                            <div class="texto-estreno">
                                <h8>Pelicula</h8>
                                <h8>Koutetsujou no Kabaneri</h8>
                            </div>
                        </div>
                    </dt>
                </dl>
                <dl>
                    <dt>
                        <div class="container">
                            <img class="imagenes-estreno" src="http://localhost:3000/imagenes/28.jpg" alt="Stray">
                            <div class="texto-estreno">
                                <h8>Estreno</h8>
                                <h8>Bongou Stray Dogs 3rd Season</h8>
                            </div>
                        </div>
                    </dt>
                </dl>
                <dl>
                    <dt>
                        <div class="container">
                            <img class="imagenes-estreno" src="http://localhost:3000/imagenes/32.jpg" alt="Strike">
                            <div class="texto-estreno">
                                <h8>Estreno</h8>
                                <h8>Strike Witches: 501 Butai Hasshin Shimasu!</h8>
                            </div>
                        </div>
                    </dt>
                </dl>
                <dl>
                    <dt>
                        <div class="container">
                            <img class="imagenes-estreno" src="http://localhost:3000/imagenes/36.jpg" alt="Nikki">
                            <div class="texto-estreno">
                                <h8>Estreno</h8>
                                <h8>Yatogame chan Kansatsu Nikki</h8>
                            </div>
                        </div>
                    </dt>
                </dl>
                <dl>
                    <dt>
                        <div class="container">
                            <img class="imagenes-estreno" src="http://localhost:3000/imagenes/40.jpg" alt="Nande">
                            <div class="texto-estreno">
                                <h8>Estreno</h8>
                                <h8>Nande Koko ni Sensei ga</h8>
                            </div>
                        </div>
                    </dt>
                </dl>
                <dl>
                    <dt>
                        <div class="container">
                            <img class="imagenes-estreno" src="http://localhost:3000/imagenes/44.jpg" alt="KonoOto">
                            <div class="texto-estreno">
                                <h8>Estreno</h8>
                                <h8>Kono Oto Tomare!</h8>
                            </div>
                        </div>
                    </dt>
                </dl>



            </div>
        </div>
    </div>

    <div class = "footer">

    </div>

</div>
</body>
</html>