<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="C:/Users/Edgar/Documents/GitHub/guaman-rubio-edgar-david/Deberes/02-pagina-web/copia-pagina/recursos/imagenes/0.ico">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Peliculas - Lista</title>
</head>
<body>
<!-- Header -->
<h1>Título 1</h1>
<h2>Título 2</h2>
<h3>Título 3</h3>
<h4>Título 4</h4>
<h5>Título 5</h5>
<h6>Título 6</h6>



<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ul>
<ol>
    <li>a</li>
    <li>b</li>
    <li>c</li>
</ol>

<a href="https://www.google.com.ec/" target="_blank">Google externo (blank)</a>
<p></p>
<a href="https://www.google.com.ec/" target="_self">Google interno (self)</a>
<p></p>
<img src="C:/Users/Edgar/Documents/GitHub/guaman-rubio-edgar-david/Deberes/02-pagina-web/copia-pagina/recursos/imagenes/0.ico"" alt="Únete a AnimeFLV">
<p></p>
<form action="Formulario">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text">
</form>

<label for="fuera">Fuera formulario</label>
<input id="fuera" type="text">

<button>Enviar datos Fuera</button>
<br>
<br>
<br>

<style>
    table, td, th{
        border: solid black 1px;

    }
</style>
<table>
    <!-- Table row-->
    <tr>
        <!-- Table header-->
        <th>Nombre</th>
        <th>Apellidos</th>
    </tr>
    <tr>
        <!-- Table detail-->
        <td>Edgar</td>
        <td>Guaman</td>
    </tr>

</table>



<br>
<br>
<br>
<br>

</body>
</html>